VITE_FIREBASE_API_KEY=AIzaSyACVC5zHB9QVXVgHlr3p7MvG30rIylUrxk
VITE_FIREBASE_AUTH_DOMAIN=edupractice-ab9a2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=edupractice-ab9a2
VITE_FIREBASE_STORAGE_BUCKET=edupractice-ab9a2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=816355594607
VITE_FIREBASE_APP_ID=1:816355594607:web:9d3d7f48a56f056373d89a
